<mat-toolbar class="fix-nav" color="primary">
    <span class="logo">
        <a routerLink=''>Livraria Saara</a>
    </span>

    <span class="spacer"></span>
    <mat-form-field>
        <mat-label>search</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>


    <span class="spacer"></span>


    <button mat-icon-button matTooltip="Carrinho">
        <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Login" routerLink="/login">
        <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Logout">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>