.card-image{
    width: 140px;
    margin: 0.5em;
  padding: 0.5em;
    
}


.mat-card{
     border: 1px solid #CFD8DC; 
    border-radius: 4px 3px 6px / 2px 4px; 
    padding-top: 15px; 
    margin: 5px;
    min-height: 30em;
}

.mat-card:hover {
  border: 2px solid #9f74c2; 
  border-radius: 4px 3px 6px / 2px 4px;
}

.mat-card-title{
    padding-left: 5px; 
    text-align: center;
}
