<div class="home-container">
    <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%">

        <ng-container *ngFor="let livro of livros" style="margin: 0.5%;">

            <mat-card class="mat-card" fxFlex="0 1 calc(15% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%">

                <mat-card-title class="mat-card-title">
                    <div class="row">
                        <p>
                            <span style="font-size:0.9rem" fxFlex="80"
                                fxLayoutAlign="start center">{{livro.titulo}}</span>
                        </p>
                    </div>
                </mat-card-title>
                <mat-card-content fxLayoutAlign="center center">
                    <div>
                        <img mat-card-image src={{livro.url_img}} alt="livro" class="card-image">
                    </div>
                </mat-card-content>
                <p style="font-size:0.7rem;">Autor: <span>{{livro.autor}}</span></p>

                <div class="row">

                    <span style="font-size:0.9rem" fxFlex="80" fxLayoutAlign="start center">{{livro.precoUnitario |
                        currency: 'BRL'}}</span>

                    <span style="float:right;">
                        <button matTooltip="Add carrinho" mat-icon-button (click)="addToCart(livro)">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </span>
                </div>




            </mat-card>
        </ng-container>
    </div>
</div>