<div class="booton-label">
  <button mat-raised-button color="primary" routerLink="/payment">Comprar</button>
</div>


<ng-container *ngFor="let livro of itens" style="margin: 0.5%;">

  <mat-card class="mat-card mat-elevation-z4">
    <mat-card-title-group>
      <mat-card-title>{{livro.titulo}}</mat-card-title>
      <mat-card-subtitle>{{livro.autor}}</mat-card-subtitle>
      <mat-card-subtitle>{{livro.precoUnitario | currency: 'BRL'}}</mat-card-subtitle>

    </mat-card-title-group>
    <mat-card-content>
      <img src={{livro.url_img}} class="card-image">
    </mat-card-content>

    <div align="end">
      <mat-card-actions>
        <button mat-icon-button color="warn" matTooltip="Excluir" (click)="renoveToCart(livro)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </div>

  </mat-card>


</ng-container>