
<mat-divider></mat-divider>
<section>
  <div class="example-label"></div>
  <div class="example-button-row">
    <button mat-raised-button routerLink="/payment">Finalizar pedido</button>

  </div>
</section>
<mat-divider></mat-divider>

<div
    _ngcontent-yhq-c72=""
    fxlayout="row wrap"
    fxlayoutalign="start center"
    style="padding: 2%; flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;"
    ng-reflect-fx-layout="row wrap"
    ng-reflect-fx-layout-align="start center"
>
<mat-card
        _ngcontent-tsi-c72=""
        fxflex="0 1 calc(15% - 11px)"
        fxflex.lt-md="0 1 calc(50% - 11px)"
        fxflex.lt-sm="100%"
        class="mat-card mat-focus-indicator ng-star-inserted"
        ng-reflect-fx-flex="0 1 calc(15% - 11px)"
        ng-reflect-fx-flex.lt-md="0 1 calc(50% - 11px)"
        ng-reflect-fx-flex.lt-sm="100%"
        style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;"
    >
        <mat-card-title _ngcontent-tsi-c72="" class="mat-card-title">
            <div _ngcontent-tsi-c72="" class="row">
                <p _ngcontent-tsi-c72="" style="flex-direction: row; box-sizing: border-box; display: flex;">
                    <span
                        _ngcontent-tsi-c72=""
                        fxflex="80"
                        fxlayoutalign="start center"
                        style="font-size: 0.9rem; place-content: center flex-start; align-items: center; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 80%;"
                        ng-reflect-fx-layout-align="start center"
                        ng-reflect-fx-flex="80"
                    >
                        Terra do Pecado
                    </span>
                </p>
            </div>
        </mat-card-title>
        <mat-card-content
            _ngcontent-tsi-c72=""
            fxlayoutalign="center center"
            class="mat-card-content"
            ng-reflect-fx-layout-align="center center"
            style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;"
        >
            <div _ngcontent-tsi-c72=""><img _ngcontent-tsi-c72="" mat-card-image="" alt="livro" class="mat-card-image card-image" src="https://images-na.ssl-images-amazon.com/images/I/41ADIni5wrL.jpg" /></div>
        </mat-card-content>
        <p _ngcontent-tsi-c72="" style="font-size: 0.7rem;">Autor: <span _ngcontent-tsi-c72="">Jose Saramago</span></p>
        <div _ngcontent-tsi-c72="" class="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
            <span
                _ngcontent-tsi-c72=""
                fxflex="80"
                fxlayoutalign="start center"
                style="font-size: 0.9rem; place-content: center flex-start; align-items: center; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 80%;"
                ng-reflect-fx-layout-align="start center"
                ng-reflect-fx-flex="80"
            >
                R$&nbsp;300,00
            </span>
            <span _ngcontent-tsi-c72="" style="float: right;">
                <button
                    _ngcontent-tsi-c72=""
                    mattooltip="Add carrinho"
                    mat-icon-button=""
                    class="mat-focus-indicator mat-tooltip-trigger mat-icon-button mat-button-base"
                    ng-reflect-message="Add carrinho"
                    aria-describedby="cdk-describedby-message-9"
                    cdk-describedby-host=""
                >
                    <span class="mat-button-wrapper"><mat-icon _ngcontent-tsi-c72="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">add_shopping_cart</mat-icon></span>
                    <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round" ng-reflect-disabled="false" ng-reflect-centered="true" ng-reflect-trigger="[object HTMLButtonElement]"></span>
                    <span class="mat-button-focus-overlay"></span>
                </button>
                <!--container-->
            </span>
        </div>
    </mat-card>
    <!--ng-container-->
    <mat-card
        _ngcontent-tsi-c72=""
        fxflex="0 1 calc(15% - 11px)"
        fxflex.lt-md="0 1 calc(50% - 11px)"
        fxflex.lt-sm="100%"
        class="mat-card mat-focus-indicator ng-star-inserted"
        ng-reflect-fx-flex="0 1 calc(15% - 11px)"
        ng-reflect-fx-flex.lt-md="0 1 calc(50% - 11px)"
        ng-reflect-fx-flex.lt-sm="100%"
        style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;"
    >
        <mat-card-title _ngcontent-tsi-c72="" class="mat-card-title">
            <div _ngcontent-tsi-c72="" class="row">
                <p _ngcontent-tsi-c72="" style="flex-direction: row; box-sizing: border-box; display: flex;">
                    <span
                        _ngcontent-tsi-c72=""
                        fxflex="80"
                        fxlayoutalign="start center"
                        style="font-size: 0.9rem; place-content: center flex-start; align-items: center; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 80%;"
                        ng-reflect-fx-layout-align="start center"
                        ng-reflect-fx-flex="80"
                    >
                        Perto do coração selvagem
                    </span>
                </p>
            </div>
        </mat-card-title>
        <mat-card-content
            _ngcontent-tsi-c72=""
            fxlayoutalign="center center"
            class="mat-card-content"
            ng-reflect-fx-layout-align="center center"
            style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;"
        >
            <div _ngcontent-tsi-c72=""><img _ngcontent-tsi-c72="" mat-card-image="" alt="livro" class="mat-card-image card-image" src="https://m.media-amazon.com/images/P/B07ZH1RNVB.01._SCLZZZZZZZ_SX500_.jpg" /></div>
        </mat-card-content>
        <p _ngcontent-tsi-c72="" style="font-size: 0.7rem;">Autor: <span _ngcontent-tsi-c72="">Clarice Lispector</span></p>
        <div _ngcontent-tsi-c72="" class="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
            <span
                _ngcontent-tsi-c72=""
                fxflex="80"
                fxlayoutalign="start center"
                style="font-size: 0.9rem; place-content: center flex-start; align-items: center; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 80%;"
                ng-reflect-fx-layout-align="start center"
                ng-reflect-fx-flex="80"
            >
                R$&nbsp;59,90
            </span>
            <span _ngcontent-tsi-c72="" style="float: right;">
                <button
                    _ngcontent-tsi-c72=""
                    mattooltip="Add carrinho"
                    mat-icon-button=""
                    class="mat-focus-indicator mat-tooltip-trigger mat-icon-button mat-button-base"
                    ng-reflect-message="Add carrinho"
                    aria-describedby="cdk-describedby-message-9"
                    cdk-describedby-host=""
                >
                    <span class="mat-button-wrapper"><mat-icon _ngcontent-tsi-c72="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">add_shopping_cart</mat-icon></span>
                    <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round" ng-reflect-disabled="false" ng-reflect-centered="true" ng-reflect-trigger="[object HTMLButtonElement]"></span>
                    <span class="mat-button-focus-overlay"></span>
                </button>
                <!--container-->
            </span>
        </div>
    </mat-card>
    <!--ng-container--><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
</div>
