<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Medium</mat-card-subtitle>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
    cão
    </mat-card-content>
  </mat-card>

  
  <mat-divider></mat-divider>
<section>
  <div class="example-label"></div>
  <div class="example-button-row">
    <button mat-raised-button>Comprar</button>
    <button mat-raised-button>Remover do carrinho</button>

  </div>
</section>
<mat-divider></mat-divider>