.mat-card {
  //display: flex;
  width: 20%;
  margin-bottom: 8px;
  margin-left: 0.5%;
}

.booton-label {
  margin: 8px;
}

.card-image{
  width: 100%;
}

mat-card-actions{
  padding: 0px;
  margin-bottom: 3px;
}

 