.mat-card {
  //display: flex;
  max-width: 30%;
  min-width: 20%;
  margin-bottom: 8px;
  margin-left: 0.5%;
}

.booton-label {
  margin: 8px;
}

.card-image{
  max-width: 40%;
  margin: 0.5em;
}

mat-card-actions{
  padding: 0px;
  margin-bottom: 3px;
}

 